//Font
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
$dmFont: "DM Sans", sans-serif;

//Colors
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

//variables
$mediumFont: 16px;

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $cream;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
  width: 92%;

  font-family: $dmFont;
  @media screen and (min-width: 450px) {
    width: 450px;
  }
}

.top-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $softRed;
  color: $veryPaleOrange;
  margin: 1rem;
  border-radius: 13px;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.top-bar-title {
  font-size: $mediumFont;
  margin-bottom: 0.5rem;
}

.top-bar-total {
  font-size: 25px;
  font-weight: 700;
}

.logo-container {
  height: 40px;
  margin-right: 1.5rem;
}

.graph-container {
  width: 100%;
  background-color: $veryPaleOrange;
  border-radius: 13px;
}

.header {
  font-size: 23px;
  font-weight: 700;
  color: $darkBrown;

  margin: 1.5rem;
  margin-bottom: 1.5rem;
}

.graph {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0.5rem;
  margin-bottom: 1.25rem;
  @media screen and (min-width: 450px) {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

.bar-container {
  display: flex;
  flex-direction: column-reverse;
}

.bar {
  display: block;
  width: 2rem;
  background-color: $softRed;
  margin: 0.4rem;
  border-radius: 4px;
  @media screen and (min-width: 450px) {
    width: 2.5rem;
  }
}

.bar:hover {
  background-color: $cyan;
  cursor: pointer;
}

.day {
  text-align: center;
  font-size: 12px;
  color: $mediumBrown;
  margin-top: 0.2rem;
}

.total {
  background-color: $darkBrown;
  color: $veryPaleOrange;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  padding: 0.25rem;
  visibility: hidden;
}

.bar:hover ~ .total {
  visibility: visible;
}

.totals-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-top: solid 2px $cream;
  width: 85%;
}

.this-month-title {
  color: $mediumBrown;
  font-size: $mediumFont;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

.monthly-total {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1.5rem;
  color: $darkBrown;
}

.last-month-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}
.percentage {
  font-weight: 700;
  text-align: right;
  font-size: $mediumFont;
  color: $darkBrown;
}

.last-month {
  font-size: $mediumFont;
  color: $mediumBrown;
}
